.fileLoader{
    width: 30%;
    height: 200px;
    margin-left: 35%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-header{
    position: relative;
}

.round-chart{
    width: 100%;
}

.line-chart{
    width: 100%;
    margin-right: 10px;
}

.charts {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}